{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

<h4>{% trans 'Upload Image' %}</h4>


<form name="form" enctype="multipart/form-data"
      action="{% url 'accounts:saved' %}" method="POST">
    {% csrf_token %}

    <!--{{ form }}-->
    <table>
        <tr>
            <td>
                File Name
            </td>
            <td>
                <center>
                    <input type="text" class="form-control mr-sm-2"
                           placeholder="Name" name="name" required/>
                </center>
            </td>
        </tr>
        <tr>
            <td>
                File Password
            </td>
            <td>
                <center>
                    <input type="password" class="form-control mr-sm-2"
                           placeholder="Password" name="password" required maxlength="16" minlength="16" />
                </center>
            </td>
        </tr>
        <tr>
            <td>
                Select File
            </td>
            <td>
                <center>
                    <input type="file" class="form-control mr-sm-2"
                           placeholder="Select File" name="documents" required/>
                </center>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <center>

                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Upload File
                    </button>

                </center>
            </td>
        </tr>

    </table>


</form>


{% endblock %}